Redirect 301 /ludivine.mp4 https://raw.githubusercontent.com/EDM115/website/v1/ludivine.mp4
Redirect 301 /underrated https://edm115.github.io/underrated-producers-list
Redirect 301 /hugo https://edm115.github.io/hugo
Redirect 301 /external-mods https://raw.githubusercontent.com/EDM115/website/v1/external-mods/index.html
Redirect 301 /external-mods/README.txt https://raw.githubusercontent.com/EDM115/v1/master/external-mods/README.txt
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html