/* Container */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  background: #0b0d0f;
  color: #f8f8f2;
}

/* Selection */
.hljs::selection,
.hljs ::selection {
  background-color: #414d58;
}

/* Comments */
.hljs-comment,
.hljs-quote {
  color: #708ca9;
  font-style: italic;
}

/* Punctuation & Operators */
.hljs-punctuation,
.hljs-operator {
  color: #f8f8f2;
  opacity: 0.7;
}

/* Keywords */
.hljs-keyword,
.hljs-selector-tag,
.hljs-meta .hljs-keyword {
  color: #ff80bf;
  font-weight: normal;
}

/* Numbers & Constants */
.hljs-number,
.hljs-literal,
.hljs-symbol {
  color: #9580ff;
}

/* Strings */
.hljs-string {
  color: #ffff80;
}

/* Regexps, Built-ins, Doctags */
.hljs-regexp,
.hljs-built_in,
.hljs-doctag {
  color: #80ffea;
}

/* Titles & Types */
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-class .hljs-title {
  color: #80ffea;
}

/* Class names */
.hljs-title.class_ {
  font-style: italic;
}

/* Function names */
.hljs-function .hljs-title,
.hljs-title.function_ {
  color: #8aff80;
}

/* Variables */
.hljs-variable,
.hljs-template-variable {
  color: #f8f8f2;
}

/* Attributes */
.hljs-attr {
  color: #f8f8f2;
}

/* Attributes next to Keywords or Params */
.hljs-keyword + .hljs-attr {
  color: #9580ff;
}

.hljs-params > .hljs-attr {
  color: #ffca80;
  font-style: italic;
}

/* Parameters */
.hljs-params {
  color: #ffca80;
  font-style: italic;
}

/* Tags & Properties */
.hljs-tag,
.hljs-property {
  color: #ff80bf;
}

/* Links */
.hljs-link {
  color: #80ffea;
  text-decoration: underline;
}

/* Emphasis & Strong */
.hljs-emphasis {
  color: #ffff80;
  font-style: italic;
}

.hljs-strong {
  color: #ffca80;
  font-weight: bold;
}

/* Diff markup */
.hljs-addition {
  color: #8aff80;
}

.hljs-deletion {
  color: #ff9580;
}

.hljs-changed {
  color: #ffca80;
}

/* Headings & Sections */
.hljs-section {
  color: #9580ff;
  font-weight: bold;
}

/* Reset parsed substitutions within strings */
.hljs-subst {
  color: #f8f8f2;
}
