@use "vuetify/settings" with (
  $body-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
);

@function var-color($name) {
  @return rgb(var(--#{$name}));
}

@mixin counter-reset-start {
  @each $i in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 {
    &[start="#{$i}"] {
      counter-reset: item #{$i - 1};
    }
  }
}

html {
  font-family: "Twemoji Country Flags", "Nunito", "Inter", sans-serif;
}
