@use "vuetify/settings" with (
  $body-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
);

@function var-color($name) {
  @return rgb(var(--#{$name}));
}

@mixin counter-reset-start {
  @each $i in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 {
    &[start="#{$i}"] {
      counter-reset: item #{$i - 1};
    }
  }
}

body {
  margin: 0;
  font-family: "Twemoji Country Flags", "Nunito", "Inter", sans-serif;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var-color(v-theme-background);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var-color(v-theme-text-lighten-2);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background: var-color(v-theme-primary);
}

code, kbd, pre, samp {
  font-family: "Fira Code", monospace !important;
}

a {
  color: var-color(v-theme-primary);
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: var-color(v-theme-secondary);
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  display: inline;
}

p, li {
  text-wrap: pretty;
}

.markdown-body {
  width: 80%;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  transition: text-decoration 0.3s ease-in-out;
}

.header-anchor {
  color: inherit;
}

.header-anchor:hover {
  color: inherit;
}

.markdown-body h1:hover,
.markdown-body h2:hover,
.markdown-body h3:hover,
.markdown-body h4:hover,
.markdown-body h5:hover,
.markdown-body h6:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: currentColor;
}

.header-copy-icon {
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-40%);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.markdown-body h1:hover .header-copy-icon,
.markdown-body h2:hover .header-copy-icon,
.markdown-body h3:hover .header-copy-icon,
.markdown-body h4:hover .header-copy-icon,
.markdown-body h5:hover .header-copy-icon,
.markdown-body h6:hover .header-copy-icon {
  opacity: 1;
}

.header-copy-icon svg {
  width: 1em;
  height: 1em;
  overflow: visible;
  fill: var-color(v-theme-primary);
  color: var-color(v-theme-primary);
}

.header-copy-icon svg:hover {
  fill: var-color(v-theme-success);
  color: var-color(v-theme-success);
}

.header-copy-icon-clicked svg {
  fill: var-color(v-theme-success);
  color: var-color(v-theme-success);
}

.markdown-body hr {
  border: 2px solid var-color(v-border-color);
  border-radius: 10px;
  margin: 1.5rem 0;
}

.markdown-body p > img {
  width: 100%;
  height: auto;
}

.markdown-body details {
  margin: 1rem 0;
}

.markdown-body ul {
  list-style-position: inside;
  padding-bottom: 1rem;
}

.markdown-body .markdown-alert > ul {
  margin-left: 1.5rem;
}

.markdown-body ol {
  list-style: none;
  counter-reset: item;
  padding-bottom: 1rem;
}

.markdown-body .markdown-alert > ol {
  margin-left: 1.5rem;
}

.markdown-body ol:has(+ .code-block) {
  padding-bottom: 0rem;
}

.markdown-body ol[start] {
  @include counter-reset-start;
}

.markdown-body ol > li::before {
  content: counter(item, decimal-leading-zero) ")";
  counter-increment: item;
  font-weight: bold;
  margin-right: 0.5rem;
}

.markdown-body ul > li > ul > li {
  margin-left: 1.5rem;
}

.markdown-body table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: contents;
}

.markdown-body table,
.markdown-body table th,
.markdown-body table td {
  border: 1px solid var-color(v-border-color);
}

.markdown-body table th,
.markdown-body table td {
  padding: 8px;
  text-align: left;
}

.markdown-body blockquote {
  border-left: 0.25em solid var-color(v-border-color);
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.markdown-body blockquote > p {
  color: var-color(v-theme-text-darken-2);
}

.code-block {
  position: relative;
  margin: 0.5rem 0;
}

.code-block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #0B0D0F;
  border-radius: 20px 20px 0px 0px;
  font-size: 0.8rem;
  color: #e9e9f4;
}

.code-block-lang {
  font-weight: bold;
}

.copy-code-button {
  background: none;
  border: none;
  color: var-color(v-theme-primary);
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.5s ease-in-out;
}

.copy-code-button-clicked {
  background: none;
  border: none;
  color: var-color(v-theme-secondary);
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.5s ease-in-out;
}

.copy-code-button:hover {
  color: var-color(v-theme-secondary);
}

.code-block pre > code {
  margin: 0;
  border-radius: 0px 0px 20px 20px;
}

*:not(pre) > code.hljs {
  border-radius: 10px 10px 10px 10px;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  text-wrap: pretty;
  white-space: pre-line;
  word-break: break-all;
}

a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) > code.hljs {
  text-decoration: underline;
  text-decoration-color: var-color(v-theme-primary);
  text-underline-offset: 0.1rem;
  transition: all 0.4s ease-in-out;
}

a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a):hover > code.hljs {
  text-decoration-color: var-color(v-theme-secondary);
}

h1 a:hover > code.hljs,
h2 a:hover > code.hljs,
h3 a:hover > code.hljs,
h4 a:hover > code.hljs,
h5 a:hover > code.hljs,
h6 a:hover > code.hljs {
  text-decoration: underline;
  text-decoration-color: inherit;
  text-underline-offset: 0.1rem;
}

.v-stepper-vertical-item__title {
  text-wrap: pretty;
  word-break: break-all;
}

.v-list-item-title {
  text-wrap: pretty;
  word-break: keep-all;
}

.v-list-item-subtitle {
  display: inline-block;
  overflow: visible;
  overflow-wrap: normal;
  text-wrap: pretty;
  word-break: keep-all;
  white-space: wrap;
}
