name: Deploy to edm115.eu.org

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-slim
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: "Install pnpm"
        uses: pnpm/action-setup@v4

      - name: "Bump Node.js to v24"
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          check-latest: true
          node-version: lts/krypton

      - name: "Install dependencies"
        run: pnpm i --frozen-lockfile && pnpm install-docfind:linux
      
      - name: "Prepare the project for edm115.eu.org"
        run: |
          sed -i 's|edm115.dev|edm115.eu.org|g' nuxt.config.ts
          sed -i 's|edm115.dev|edm115.eu.org|g' app/layouts/default.vue
          sed -i 's|edm115.dev|edm115.eu.org|g' app/components/system/OgImage.vue
          sed -i 's|client: true|client: false|g' nuxt.config.ts
          sed -i 's|server: true|server: false|g' nuxt.config.ts
          sed -i 's|sourcemap: true|sourcemap: false|g' nuxt.config.ts
          sed -i '/ogImage/,$ s/enabled: true/enabled: false/' nuxt.config.ts
          # Avoid bundling the resume files since they balloon the size by x8
          sed -i 's|/docs|https://edm115/docs|g' app/components/home/Resume.vue
          # Also redirect blog files
          find app/components/blog -type f -print0 | xargs -0 sed -i 's!\](/docs!\](https://edm115.dev/docs!g'
          rm -f public/docs/CV_*.pdf
          rm -f public/docs/Resume_*.pdf
          rm -fr public/docs/blog

      - name: "Restore Nuxt cache"
        id: nuxt_cache
        uses: actions/cache/restore@v5
        with:
          path: .nuxt
          key: old-nuxt-cache-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            old-nuxt-cache-${{ github.ref_name }}-

      - name: "Build for edm115.eu.org"
        run: pnpm prebuild && pnpm nuxt generate --preset static

      - name: "Cleanup build"
        run: find ./.output/public -type f \( -name "*.gz" -o -name "*.br" \) -delete

      - name: "Upload artifact"
        uses: actions/upload-artifact@v6
        with:
          name: static-site
          path: ./.output/public

      - name: "Save Nuxt cache"
        if: always() && steps.nuxt_cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: .nuxt
          key: old-nuxt-cache-${{ github.ref_name }}-${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-slim
    steps:
      - name: "Download the artifact"
        uses: actions/download-artifact@v7
        with:
          name: static-site
          path: static-site

      - name: "Clean remote dir"
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_H }}
          username: ${{ secrets.SSH_U }}
          password: ${{ secrets.SSH_P }}
          script: |
            cd www/static_site || exit 1
            find . -maxdepth 1 ! -name '.' ! -name '.well-known' -exec rm -fr {} +
      
      - name: "Upload static files"
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_H }}
          username: ${{ secrets.SSH_U }}
          password: ${{ secrets.SSH_P }}
          source: "static-site"
          target: "www/static_site"
          strip_components: 1
          overwrite: true
